@media (min-width: 320px) and (max-width:768px) {
    .wrapper {
        max-width: 768px;
        scroll-behavior: smooth;
        margin: 0 auto;
        padding: 0;

    }

    .header {
        display: flex;
        width: 100vw;
        height: 117px;
        padding-top: 0;

    }

    .logo-leaf {
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }

    .logo {
        display: flex;
        margin-left: 50px;
        padding-top: 35px;

    }

    ul {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
   .menu-container>ul>li {

        display: inline-block;
    }

    .menu-container {
        margin-top: 20px;
        margin-left: 110px;

    }

    .welcome {
        width: 100vw;
        height: auto;
    }

    .img-container {
        position: absolute;
        width: 280px;
        height: 254px;
        margin-left: 440px;
        margin-top: 37px;

    }

    .text-container {
        margin-left: 50px;
        margin-top: 40px;
        width: 346px;

    }
br {
    display: none;
}
    .we-grow-header {
        width: 346px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
    }

    .welcome-text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        margin-left: 10px;
        margin-top:  24px;
        letter-spacing: 0em;


    }
    .learn-more {
        margin-top: 18px;
    }
    .about {
        display: flex;
        align-content: center;
        margin: -18px;
        flex-direction: column;


    }
    .about-text-container {

        margin: 0;
    }
    .we-grow-header {
        display: inline;
        font-family: 'Inika',sans-serif;
        width: 423px;

        font-size: 35px;
        line-height: 46px;

    }

    .about-header {
        max-width: 423px;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        word-wrap: normal;
        margin-left: 240px;
        text-align: left;

    }
    .about-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        margin: 51px 0 0 65px;
        max-width: 668px;
    }
    .about-img {
        width: 250px;
        height: 258px;
        margin-top: 70px;
        margin-left: 275px;
    }
    .service {
        flex-direction: column;


    }
    .service-header-and-buttons {
        flex-direction: column;
    }
    .service-header {
        display: block;
        margin-top: 80px;
        font-size: 35px;
        line-height: 46px;
        text-align: left;
        margin-left: -55px;
        width: 306px;
    }
    .button-block {

        flex-direction: row;
        margin-left: -92px;
        margin-top: 13px;
        padding: 0;



    }
.service-button {
padding: 0;
}
.service-img-box {
     width: 100vw;
    height: auto;
    margin-top: 37px;
    margin-left: 50px;
    flex-wrap: wrap;
    gap: 105px;


}
.service-img-box2 {

}
    .service-img-box2> .service-cards:nth-child(1){
    position: absolute;
    margin: -513px 0px 50px 390px;

}
    .service-img-box2 {
        width: 100vw;
        margin-left: 50px;


    }
    .service-cards{
        width: 285px;
        height: 450px;
    }
.card-image {

    width: 281px;
    height: 350px;
/*    padding: 0 0 40px 0;*/
}
    .service-img-box> .service-cards:nth-child(3){
     margin-top: -68px;

    }
.cards-header {
    margin-top: -13px;
}
.cards-description {
    width: 201px;
    padding-bottom: 20px;

    text-align: center;
    margin: -9px 0 0 20px;

}
    .service-img-box2> .service-cards:nth-child(2) {
        margin-top: -24px;
    }
    .service-img-box2> .service-cards:nth-child(3) {
        margin-top: -24px;
        margin-left: -10px;
    }
    .prices {
        margin-top: -60px;
    }
    .price-header {
        margin-left: 65px;
        font-weight: 700;
        font-size: 35px;
        line-height: 42px;
    }
    .drop-down-menu {
        margin-left: 50px;
    }
    .btn {
    margin: -185px 50px 0 556px;
    }
    .small-leaf {
        width: 152px;
        height: 174px;
        margin: -108px 50px 0 566px;
    }
    .price-header2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        margin: -285px 50px 0 427px;
    }
    .woman-image{
        width: 200px;
        height: 248px;
    }
    .woman-image > img {
        width: 200px;
        height: 248px;
        background-size: contain;
        margin: 438px 185px;

    }
    .contact-us {
        height: 739px;
        margin-top: 160px;
    }
    .contac-text {
        margin: 40px -14px 0 ;

    }
    .select-city {
        margin: 101px -140px;
    }
.footer {
    height: 181px;
flex-direction: column;
   }
.year {

    margin: 23px;
    text-align: center;
}
.disign {
    text-align: center;
    margin: -33px;
}
.social-icons > ul {
    margin: 0;
    padding: 0;
}
.social-icons {
    margin-left: 250px;
    padding: 0;
    margin-top: 40px;
}
.icnR {
    margin-top: -28px;
}
}



