@media (min-width: 320px) and (max-width:768px) {
    .wrapper {
        max-width: 768px;
        scroll-behavior: smooth;
        margin: 0 auto;
        padding: 0;


    }

    .header {
        display: flex;
        width: 100vw;
        height: 117px;
        padding-top: 0;

    }

    .logo-leaf {
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }

    .logo {
        display: flex;
        margin-left: 50px;
        padding-top: 35px;

    }

    li {

        margin-right: 35px;

    }

    .menu-container {
        display: flex;
        margin-top: 20px;
        margin-left: 110px;

    }

    .welcome {
        width: 100vw;
        height: auto;
    }

    .img-container {
        position: absolute;
        width: 280px;
        height: 254px;
        margin-left: 440px;
        margin-top: 37px;

    }

    .text-container {
        margin-left: 50px;
        margin-top: 40px;
        width: 346px;

    }
br {
    display: none;
}
    .we-grow-header {
        width: 346px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
    }

    .welcome-text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        margin-left: 10px;
        margin-top:  24px;
        letter-spacing: 0em;


    }
    .learn-more {
        margin-top: 18px;
    }
    .about {
        display: flex;
        align-content: center;
        margin: -18px;
        flex-direction: column;


    }
    .about-text-container {

        margin: 0;
    }
    .we-grow-header {
        display: inline;
        font-family: 'Inika',sans-serif;
        width: 423px;

        font-size: 35px;
        line-height: 46px;

    }

    .about-header {
        max-width: 423px;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        word-wrap: normal;
        margin-left: 240px;
        text-align: left;

    }
    .about-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        margin: 51px 0 0 65px;
        max-width: 668px;
    }
    .about-img {
        width: 250px;
        height: 258px;
        margin-top: 70px;
        margin-left: 275px;
    }
    .service {
        flex-direction: column;

    }
    .service-header-and-buttons{
        flex-direction: column;
    }
    .service-header {
        display: block;
        margin-top: 80px;
        font-size: 35px;
        line-height: 46px;
        text-align: left;
        margin-left: -55px;
        width: 306px;
    }
    .button-block {
        display: block;
        width: 559px;
        margin: 0;


    }
.service-button {

}
.service-img-box {
    margin: 0;
}
}



